html,body,#root{
   height: 100%;
   background: #1F1D2B;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face{
  font-family: 'Chakra Petch';
  src: url("./assets/fonts/ChakraPetch-Medium.ttf"),url("./assets/fonts/ChakraPetch-Regular.ttf"),url("./assets/fonts/ChakraPetch-SemiBold.ttf");
}